doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Productos Cargados
h1 Productos Cargados
if p.length > 0
    table(style='width:100%', border='1')
        th  Producto
        th  Precio
        th  Imagen
        each producto in p
            tr 
                td=producto.title 
                td=producto.price 
                td
                    img(src=producto.thumbnail heigth='100' width='100')
else 
    h3 No se encuentran productos cargados

form#productForm(action='/' method='get')
  button Cargar mas productos
